html,body {font-family: sans-serif;}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all;
    transition-duration: 500ms;
}

.image:hover {
    transform: rotate(1turn);
    scale: 1.3;
}